# Ignore configuration files
.python-version
.vscode
configuration.py
*.pyc

# Ignore instance related files and pdfs
Instances
*.dat
*.pdf
*.zip
*.png
*.tgn
*.tex

# Ignore unused code
main.cpp
main.h

# Ignore cache
__pycache__
